# Immich Data
immich/library/
immich/postgres/
immich/model-cache/

# Jellyfin Data
jellyfin/config/
jellyfin/cache/
jellyfin/media/

# Uptime Kuma
uptime-kuma/data/

# Home Assistant
homeassistant/config/

# FileBrowser
filebrowser/filebrowser.db
filebrowser/root/

# Memos
memos/data/

# System Files
.DS_Store
*.log
